{% ckan_extends %}

{% block header_account_logged %}
              
              <li>
                <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                  {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                  {% set actor_name = h.retrieve_actor_name() %}
                  <span class="username">{{ c.userobj.display_name }}
                  {% if actor_name %}
                  	({{ actor_name }})
                  {% endif %}
                  </span>
                </a>
              </li>
              {% if c.userobj.sysadmin %}
                <li>
                  <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                    <i class="icon-legal"></i>
                  </a>
                </li>
              {% endif %}
              {% set new_activities = h.new_activities() %}
              <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                  <i class="icon-dashboard"></i>
                  <span>{{ new_activities }}</span>
                </a>
              </li>
              {% block header_account_settings_link %}
				<li>
				  {% if h.check_access('user_update', user) %}
				  	<a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
				  {% else %}
				  	<a href="{{h.get_user_update_url()}}" target="_blank" title="{{ _('Edit settings') }}" >
				  {% endif %}
				<i class="icon-cog"></i>
				</a>
				</li>
			  {% endblock %}
              {% block header_account_log_out_link %}
                <li>
                  <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                    <i class="icon-signout"></i>
                  </a>
                </li>
                {% set url = h.get_renew_url() %}
                {% if url %}
                	<iframe src="{{url}}" style="width: 0px; height: 0px; visibility:hidden; display:none"> </iframe>
                {% endif %}
              {% endblock %}
{% endblock %}
